.page-header {
  min-height: 2rem;
  padding: 1rem;
  margin-bottom: 4rem;
}

.page-header--image {
  height: 60vh;
  background: rgb(60,65,70) no-repeat center center;
  background-size: cover;
}

.page-header--no-image {
  border-top: 4px solid #4183c4;
}

.page-title {
  font-size: 1.5rem;
}

.page-title:hover,
.page-title:focus {
  text-decoration: none;
}

.page-header--image .page-title {
  color: #fff;
}

.page-header--image .page-title:hover,
.page-header--image .page-title:focus {
  color: #fff;
}

.post {
  margin-bottom: 3rem;
}

.post-header {
  margin-bottom: 3rem;
}

.post-title {
  font-size: 2.5rem;
}

.post-meta {
  font-size: 90%;
  color: rgb(160,165,170);
}

.post-author {
  display: flex;
  align-items: center;
}

.post-author-gravatar {
  margin-right: .75rem;
  border-radius: 50%;
}
